# папка с файлами по работе проекта
media/
media/*

# типы файлов 
*.jpg
*.jpeg
*.png
*.mp4

# Игнорировать конкретные большие файлы
videopj_two/media/videos/20._Изменение_столбцов.mp4
videopj_two/media/videos/95._Публикация_сайта_в_интернете.mp4

# Исключить определенные файлы из игнорирования (если необходимо)
!media/.gitkeep