{% extends 'base.html' %}
{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg border-0">
                <div class="card-header text-white" style="background-color: #9a0105;">
                    <h2 class="mb-0 py-2 text-center">Вход в систему</h2>
                </div>
                <div class="card-body p-4">
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="mb-3">
                                <label for="{{ field.id_for_label }}" class="form-label fw-bold">{{ field.label }}</label>
                                {{ field.errors }}
                                <div class="form-control-wrapper">
                                    {{ field }}
                                </div>
                                {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}
                            </div>
                        {% endfor %}
                        
                        <div class="d-grid gap-2 mt-4">
                            <button type="submit" class="btn text-white" style="background-color: #9a0105;">
                                Войти
                            </button>
                        </div>
                        
                        <div class="text-center mt-3">
                            <p>Нет аккаунта? <a href="{% url 'galleryvideo:register' %}" style="color: #9a0105; text-decoration: none; font-weight: bold;">Зарегистрироваться</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}