{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <!--<h1>Видео</h1> -->
    <div class="row">
        {% for gallery in galleries %}
        <div class="col-md-4 mb-4 video-card">
            <div class="card position-relative">
                {% if gallery.image_faculty %}
                    <img src="{{ gallery.image_faculty.url }}" class="card-img-top" alt="{{ gallery.title_name_faculty }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ gallery.title_name_faculty }}</h5>
                    <a href="{{ gallery.get_absolute_url }}" class="btn btn-danger">
                        Смотреть
                    </a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <div class="alert alert-info">Факультеты пока не добавлены</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}